#Portfolio {
  height: 800px;
  width: 99vw;
  color: black;
  background: white;
}

#griddy {
  font-size: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1px;
  text-align: center;
  place-items: center;
  gap: 24px;
}

#grid {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}

.pic {
  height: 200px;
  border-radius: 10px;
}

@media all and (max-width: 500px) {

  #Portfolio {
    display: none;
  }
}